.container {
  display: flex;
  flex-direction: row;
  flex: 1;
  padding: var(--theme-section-padding);
  width: 100%;
}
.controlsCell {
  text-align: right;
}
.controlsLink {
  color: var(--theme-link-color);
}
.table {
  width: 100%;
}
